$mainColor: rgb(5, 92, 150);
$darkerMainColor: darken($mainColor, 20%);
$lighterMainColor: lighten($mainColor, 15%);
$oppositeColor: invert($mainColor);
$darkerOppositeColor: darken($oppositeColor, 20%);
$lighterOppositeColor: lighten($oppositeColor, 15%);
